<div class="row">
  <div class="col-xs-4">
    <h3>Контакты</h3>

    <p><strong>Нижний Новгород, ул. Белозерская д.3</strong></p>

    <p>Телефон: +7 (920) 051-95-96<br />
      E-mail: ivengozoo@gmail.com</p><!-- // MAILCHIMP SUBSCRIBE CODE \\ -->

    <!--<p><a href="#">Subscribe to Newsletter</a></p>-->
    <!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

    <p><strong>Время работы: 11:00 - 21:00</strong><br />
      <em>Мы работаем с Вашими питомцами только по предварительной записи!</em></p>
    
  </div>

  <div class="col-xs-8">
    <h3>Как нас найти</h3><br />
    <div>
      <script type="text/javascript" charset="utf-8" src="http://api-maps.yandex.ru/services/constructor/1.0/js/?sid=vozKLSNAF22f-XU-RR35SfYBMCENLUxz&width=600&height=450"></script>
    </div>
  </div>
</div>
