<div class="row">
  <div class="six columns">
    <h3>Контакты</h3>

    <p><strong>Нижний Новгород, ул. Белозерская д.3</strong></p>

    <p>Телефон: +7 (920) 051-95-96<br />
      E-mail: ivengozoo@gmail.com</p><!-- // MAILCHIMP SUBSCRIBE CODE \\ -->

    <!--<p><a href="#">Subscribe to Newsletter</a></p>-->
    <!-- \\ MAILCHIMP SUBSCRIBE LINK // -->

    <p><strong>Время работы: 11:00 - 20:00</strong><br />
      <em>Мы работаем с Вашими питомцами только по предварительной записи!</em></p>
    
  </div>

  <div class="six columns">
    <h3>Как нас найти</h3><br />
    <a style="color: #0000ff; text-align: left;" href="http://maps.yandex.ru/-/CVrsERkI">
      Посмотреть на карте</a>
  </div>
</div>
