      <h2 class="greetings">Практический семинар по груммингу</h2>

      <p>Семинар проведет специалист с большой буквы, подготовивший победителей и призеров крупнейших выставок: 
        Чемпионат Мира, Европы, Крафт, Евразия, Россия и т.д. - <strong>АВДОНИНА МАРИНА ЮРЬЕВНА</strong>, питомник ГОЛ ДЕН МЕРИ.
      </p>

      <p>Приглашаем всех желающих владельцев и заводчиков ШИ-ТЦУ, ЙОРКОВ, МАЛЬТЕЗЕ, и БИВЕР-ЙОРКОВ 
        посетить семинаре по практическому груммингу собак длинношерстных пород.<br />
        ПРИВЕТСТВУЕТСЯ ПРИСУТСТВИЕ ВАШЕЙ СОБАКИ НА СЕМИНАРЕ !<br />
        Но если вы не можете прийти с собакой не проблема приходите слушателем!
      </p>

      <p>В программу семинара входит ШОУ ГРУММИНГ: </p>
      <ul class="doted_list">
        <li>Все о косметике и подбора косметики</li>
        <li>Демонстрация мытья собаки </li>
        <li>Правильной техники сушки шерсти , как отчесывать, как сохранить шерсть</li>
        <li>отчесывание без травм и потери шерсти</li>
        <li>разбирание колтунов</li>
        <li>Работа с ножницами , что и где , и как стричь перед выставкой</li>
        <li>Оттягивания шерсти с помощью стайлера</li>
        <li>Демонстрация выставочного топ-кнота - практическое обучение</li>
      </ul>
      <p>В процессе всего обучения вам предоставят много практических советов по подготовке собак к шоу
        Специалист даст советы по косметике.
        Подскажут и научат вас, как приучить собаку к груммингу и правильно вести себя на столе .
      </p>

      <p>Место проведения: зоосалон АЙВЕНГО <%= link_to "Как добраться", contact_path %>
        Стоимость семинара 5000 руб.<br />
        Запись ограничена !<br />
        Дата проведения - 12 октября 2014 г.
      </p>
	  <p>
 		Запись телефону:
		<br /><i class="fa fa-phone"></i><span>+7 (920) 051-95-96</span>
	  </p>

