<% provide(:title, 'Главная') %>
<div class="row">
  <div class="col-xs-3">
    <div id="news">
      <h3 class="news">Новости</h3>
      <ul class="news">
	<li>
<!--	  <i class="fa fa-caret-right"></i> -->
          <span class="date">03.03.15</span>
	  Скидки на паучи. <br />
	  <%= link_to "Подробнее", sale_path(@sale, anchor: "ord_1") %>
	</li>
	<li>
          <span class="date">03.03.15</span>
	  Акция! Обоработка от блох и клещей перед летним сезоном!<br />
	  <a class="details" href="#">Подробнее</a>
	</li>
	<li>
          <span class="date">05.03.15</span>
	  Акция! Скидки на корм<br />
	  <a class="details" href="#">Подробнее</a>
	</li>
	<li>
          <span class="date">09.03.15</span>
	  Новое поступление осенних комбинезонов<br />
	  <a class="details" href="#">Подробнее</a>
	</li>
      </ul>
    </div>
    <div id="advert">
      
    </div>
  </div>
  <div class="col-xs-9">
    <h2 class="greetings">Добро пожаловать на сайт Салона красоты для животных "Айвенго"!</h2>

    <p>Термин «груминг» обозначает всесторонний уход за домашними животными,
      включающий в себя уход за шерстью, обработку зубов, когтей, ушей, глаз,  стрижку собак и кошек.
      Соответственно, специалист, который выполняет услуги по уходу за животными, 
      получил название «грумер».</p>

    <p>Наш салон предлагает всевозможные услуги для Вашего питомца - <!-- см.УСЛУГИ ( --> стрижки, мытье, 
      гигиенические процедуры, выставочный груминг, тримминг</p>
    
    <p>После того, как вы привели питомца в наш зоо-салон и забрали его оттуда красивым,
      ухоженным и модным, так хочется и дальше поддерживать любимца в таком прекрасном виде.
      На помощь придет грумер, который расскажет об особенностях домашнего ухода за
      животным, а также поможет определиться в выборе необходимых инструментов для 
      груминга и косметических средств, подходящих вашему питомцу. <!-- см.КОСМЕТИКА --> </p>

    <p>Многие собаководы сами ухаживают за шерстью своих питомцев. В таком случае им не 
      обойтись без специальных инструментов по уходу за шерстью, например, 
      фурминатора и машинки для стрижки собак. Профессиональный грумер всегда 
      покажет интересующий инструмент и объяснит как часто лучше проводить процедуры.
      В нашем салоне можно приобрести всевозможные  товары для груминга. <!-- см.ТОВАРЫ ДЛЯ ГРУМИНГА --></p>

    <p>Немаловажный аспект в уходе за собакой – это правильно подобранная комфортная 
      одежда. В современных городских условиях одевать собаку на прогулку зачастую
      стало необходимостью. Одежды для собак в зоомагазинах представлено много, 
      однако разобраться в том, что подойдет именно вашей собаке, легче,
      вооружившись советами грумера. Приобрести одежду можно тут же, в нашем салоне красоты.
      у нас очень много красивой и оригинальной одежды для наших малышей. <!-- см.ОДЕЖДА --></p>

    <p>Ещё один важный аспект в уходе - сохранить лапки вашего питомца от всевозможных
      реагентов, которыми обрабатывают дорожки и дороги. В нашем салоне представлена 
      обувь в широком ассортименте. <!-- см.ОБУВЬ --> </p>

    <p>Вам нравится ухаживать за животными и вы хотели бы усовершенствовать свои навыки
      для того, чтобы проводить груминг своему питомцу дома? В этом стремлении 
      вам могут помочь курсы грумеров, которые мы предлагаем. Бывает, что «ученика»
      так захватывает работа грумера, и он проявляет хорошие способности и успешен
      в обучении, что начинает свой путь профессионального грумера по окончании курсов.
      А закончившим успешно наши курсы, мы предложим трудоустройство.
      О сроках и начале  обучения <!--  см.КУРСЫ --> </p>

    <p>Мы надеемся, что посетив наш салон красоты, Вы получите массу положительных
      эмоций, а Ваш питомец будет самым красивым и всегда ухоженным.</p>

    <div class="row">
      <div class="col-xs-4">
	<a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("salon_ex_01.jpg", size: "300x199", alt: "вход") %>
	</a>
      </div>

      <div class="col-xs-4">
	<a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("salon_int_01.jpg", size: "300x199", alt: "интерьер") %>
	</a>
      </div>

      <div class="col-xs-4">
	<a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("salon_int_02.jpg", size: "132x199", alt: "интерьер") %>
	</a>
      </div>

    </div>
  </div>
</div>
