<% provide(:title, 'Главная') %>
<h2 class="greetings">Добро пожаловать на сайт Салона красоты для животных "Айвенго"!</h2>
<p>Каждому хозяину хочется, что бы его любимец чувствовал себя комфортно и хорошо выглядел. Именно для этого существуют зоосалоны.<br />
  Наш салон красоты для домашних животных рад предложить широкий спектр услуг хозяевам самых различных пород кошек и собак:				
</p>
<ul class="services-list">
  <li class="lsf-icon" title="scissors">стрижки собак и кошек: породные, гигиенические, креативные</li>
  <li class="lsf-icon" title="scissors">окрашивание, "мерцающие ушки"</li>
  <li class="lsf-icon" title="scissors">мягкие коготки для кошек и собак</li>
  <li class="lsf-icon" title="scissors">мытье, вычесывание, стрижка ноготков, маникюр</li>
  <li class="lsf-icon" title="scissors">чистка зубов</li>
  <li class="lsf-icon" title="scissors">профессиональная косметика</li>
  <li class="lsf-icon" title="scissors">БУТИК, одежда от производителей</li>
  <li class="lsf-icon" title="scissors">эксклюзивные лежанки, ошейники, бантики, заколки и другие акссесуары</li>

</ul>
<p>
  Записаться на процедуры для Вашего питомца можно по телефону:
  <br /><span>+7 (920) 051-95-96</span>
</p>
