<% provide(:title, 'Главная') %>
<h2 class="greetings">Добро пожаловать на сайт Салона красоты для животных "Айвенго"!</h2>
<p>Каждому хозяину хочется, что бы его любимец чувствовал себя комфортно и хорошо выглядел. Именно для этого существуют зоосалоны.</p>
<p class="list-caption">Наш салон красоты для домашних животных рад предложить широкий спектр услуг хозяевам самых различных пород кошек и собак:</p>
<ul class="services-list">
  <li><i class="fa fa-scissors fa-lg"></i>стрижки собак (маленьких, больших, средних): породные для выстовок, гигиенические, креативные</li>
  <li><i class="fa fa-scissors fa-lg"></i>стрижки кошек (с наркозом и без): гигиенические, креативные</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье собак и кошек простыми средствами и профессиональной косметикой (подбор косметики по желанию)</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье собаки и кошек с применением антипаразитных средств</li>
  <li><i class="fa fa-scissors fa-lg"></i>обработка собак и кошек против паразитов специальными спреями</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье c применением увлажняющей маски</li>
  <li><i class="fa fa-scissors fa-lg"></i>вычесывание собак (маленьких, больших, средних) и разбор колтунлв с применением специальных средств</li>
  <li><i class="fa fa-scissors fa-lg"></i>подстригание ноготков собак и кошек, с обработкой среза, с окрашиванием лаками</li>
  <li><i class="fa fa-scissors fa-lg"></i>мягкие коготки (колпачки) для кошек и собак - цвет на выбор</li>
  <li><i class="fa fa-scissors fa-lg"></i>окрашивание шерсти собак и кошек (смываемые и несмываемые краски)</li>
  <li><i class="fa fa-scissors fa-lg"></i>блеск-тату, "мерцающие ушки", украшение стразами, рисунки на шерсти</li>
  <li><i class="fa fa-scissors fa-lg"></i>чистка зубов</li>
  <li><i class="fa fa-scissors fa-lg"></i>профессиональная косметика</li>
  <li><i class="fa fa-scissors fa-lg"></i>БУТИК, одежда от производителей</li>
  <li><i class="fa fa-scissors fa-lg"></i>эксклюзивные лежанки, ошейники, бантики, заколки и другие акссесуары</li>
</ul>
<p>
  Записаться на процедуры для Вашего питомца можно по телефону:
  <br /><i class="fa fa-phone"></i><span> +7 (920) 051-95-96</span>
</p>
