<% provide(:title, 'Наши партнеры') %>
<h2 class="greetings">Наши партнеры</h2>
<a href="http://dog.pet2me.com"><img src="http://dog.pet2me.com/f/images/dog_88_31.gif" alt="Объявления щенки, собаки. Породы собак. Питомники собак" border="0" width="88" height="31" /></a>
