<% provide(:title, 'Наши партнеры') %>
<h2 class="greetings">Наши партнеры</h2>

<a href="http://dog.pet2me.com"><img src="http://dog.pet2me.com/f/images/dog_88_31.gif" alt="Объявления щенки, собаки. Породы собак. Питомники собак" border="0" width="88" height="31" /></a>

<a href="http://cat.pet2me.com"><img src="http://cat.pet2me.com/f/images/cat_88_31.gif" alt="Объявления котята, кошки. Породы кошек. Питомники кошек" border="0" width="88" height="31"></a>

<a href="http://www.zoospravka.ru" target="_blank"><img src="http://www.zoospravka.ru/banner.gif" border="0" width="88" height="31" title="ЗооСправка - зоомагазины и зоотовары, цены, адреса и ссылки"></a>

