<% provide(:title, 'Акции') %>
<h2 class="greetings">Акции</h2>
<div class="row">
  <div class="col-xs-4">
    <a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("rc_wet_instinctive.jpg", size: "65x100", alt: "паучи") %>
    </a>
  </div>
  <div class="col-xs-8">
    <p><span class="date">04.01.15</span>Только в январе пауче по цене от производителя!</p>
  </div>
</div>
