<% provide(:title, 'Акции') %>
<h2 class="greetings">Акции</h2>

<a name="ord_1"></a>
<h3 class="special_order">
    <i class="fa fa-chevron-right"></i>
    <span class="date">04.01.15</span> 
    Только в январе паучи по цене от производителя!
  </h3>
<div class="row special_order">
  <div class="col-xs-3">
    <a href="#" class="thumbnail">
	  <%= image_tag("rc/instinctive_v_zhele.png", size: "65x100", alt: "паучи") %>
    </a>
    <div class="caption">
        <h4>Instinctive (в желе)</h4>
        <p>Влажный корм для кошек старше 1 года</p>
	<p class="price"><span class="label label-danger">60 руб.</span></p>
    </div>
  </div>
 <div class="col-xs-3">
    <a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("rc/intense_beauty.png", size: "65x100", alt: "паучи") %>
    </a>
    <div class="caption">
        <h4>Intense Beauty (в желе)</h4>
        <p>Влажный корм для поддержания красоты шерсти кошек</p>
	<p class="price"><span class="label label-danger">60 руб.</span></p>
    </div>
  </div>
 <div class="col-xs-3 ">
    <a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("rc/kit_instinctive.png", size: "65x100", alt: "паучи") %>
    </a>
    <div class="caption">
        <h4>Kitten Instinctive (в соусе)</h4>
        <p>Влажный корм для котят от 4 до 12 месяцев</p>
	<p class="price"><span class="label label-danger">60 руб.</span></p>
    </div>
  </div>
 <div class="col-xs-3">
    <a href="#" class="thumbnail main-page-photo">
	  <%= image_tag("rc/product_bag_110.png", size: "56x100", alt: "паучи") %>
    </a>
    <div class="caption">
        <h4>Urban Life Junior Wet</h4>
        <p>Влажный корм для щенков (в возрасте 10/15 месяцев, вес взрослой собаки до 44 кг)</p>
	<p class="price"><span class="label label-danger">70 руб.</span></p>
    </div>
  </div>
</div>

<a name="ord_2"></a>
<h3 class="special_order">
    <i class="fa fa-chevron-right"></i>
    <span class="date">05.01.15</span> 
    Только в январе скидки на стрижки!
</h3>

