<% provide(:title, 'Услуги') %>
<h2 class="greetings">Услуги</h2>
<p>Каждому хозяину хочется, что бы его любимец чувствовал себя комфортно и хорошо выглядел. Именно для этого существуют зоосалоны.</p>
<p class="list-caption">Наш салон красоты для домашних животных рад предложить широкий спектр услуг хозяевам самых различных пород кошек и собак:</p>
<ul class="services-list">
  <li><i class="fa fa-scissors fa-lg"></i>стрижки собак (маленьких, больших, средних): породные для выстовок, гигиенические, креативные</li>
  <li><i class="fa fa-scissors fa-lg"></i>стрижки кошек (с наркозом и без): гигиенические, креативные</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье собак и кошек простыми средствами и профессиональной косметикой (подбор косметики по желанию)</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье собаки и кошек с применением антипаразитных средств</li>
  <li><i class="fa fa-scissors fa-lg"></i>обработка собак и кошек против паразитов специальными спреями</li>
  <li><i class="fa fa-scissors fa-lg"></i>мытье c применением увлажняющей маски</li>
  <li><i class="fa fa-scissors fa-lg"></i>вычесывание собак (маленьких, больших, средних) и разбор колтунов с применением специальных средств</li>
  <li><i class="fa fa-scissors fa-lg"></i>подстригание ноготков собак и кошек, с обработкой среза, с окрашиванием лаками</li>
  <li><i class="fa fa-scissors fa-lg"></i>мягкие коготки (колпачки) для кошек и собак - цвет на выбор</li>
  <li><i class="fa fa-scissors fa-lg"></i>окрашивание шерсти собак и кошек (смываемые и несмываемые краски)</li>
  <li><i class="fa fa-scissors fa-lg"></i>блеск-тату, "мерцающие ушки", украшение стразами, рисунки на шерсти</li>
  <li><i class="fa fa-scissors fa-lg"></i>чистка зубов ультразвуком</li>
  <li><i class="fa fa-scissors fa-lg"></i>профессиональная косметика</li>
  <li><i class="fa fa-scissors fa-lg"></i>бутик, одежда от производителей</li>
  <li><i class="fa fa-scissors fa-lg"></i>эксклюзивные лежанки, ошейники, бантики, заколки и другие акссесуары</li>
  <li><i class="fa fa-scissors fa-lg"></i>товары для груминга - ножницы, расчески, когтерезы, фартуки, держатели для фенов и другое</li>
</ul>

<p>ВНИМАНИЕ!</p>

<p>1. Стрижка животного осуществляется без присутствия его хозяина во время оказания услуги! 
Присутствие хозяина приносит ему лишнее волнение и увеличивает стресс от процедур! 
Исключение для собак старше 10 лет!</p>

<p>2. На стрижку (тримминг) запущенной (наличие колтунов) или агрессивной собаки/кошки
 устанавливается повышающий коэффициент в размере от 25% до 50% на усмотрение мастера.</p>

<p>3. Мастер салона вправе отказать клиенту и его хозяину, если во время проведения 
процедуры клиент кусется, кидается или не стоит (не сидит, не лежит)!</p>

<p>4. В салоне обслуживаются только здоровые животные, мастер оставляет за собой право
 отказать в обслуживании собаке/кошке, представляющей собой опасность.</p>

<p>5. Пожалуйста, предупреждайте мастера, об особенностях вашего питомца! </p>

<!-- Забота о домашнем любимце включает в себя не только корма премиум-класса, 
самые лучшие игрушки и регулярные визиты к ветеринару. Профессиональный уход 
за шерстью и когтями – это:

    гарантия великолепного внешнего вида;
    залог здоровья и долголетия вашего питомца. -->

<p>
  Записать на процедуры Вашего питомца можно по телефону:
  <br /><span><i class="fa fa-phone"></i> +7 (920) 051-95-96</span>
</p>
