<header>
  <div class="container">
	<h1>Зоосалон<br /> "Айвенго"</h1>
	<div class="contacts">
	  <span class="phone">
		т. +7(920)051-95-96
	  </span>
	  <a href="mailto:ivengozoo@gmail.com" class="email">
		e-mail: ivengozoo@gmail.com
	  </a><br />
	  <span class="address">
		Нижний Новгород, ул.Белозерская д.3
	  </span>
	</div>
	<div class="clearall"></div>
  </div>
</header>
